:root {
    --primary-color: #E60012;
    --accent-color: #AC000D;
}


/*TYPOGRAPHY*/
html,
body {
    width: 100%;
    font-size: 16px;
    color: rgb(72, 72, 72);
    font-family: 'Museo Sans Rounded', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after,
*::before {
    box-sizing: border-box;
}

strong,
h1,
h2 {
    font-weight: 600;
}

hr {
    color: #d6d6d6;
    height: 0px;
    border-style: solid none none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
}

a:hover,
a:focus {
    color: var(--accent-color);
}

/* hr{
    margin: 2em 0;
    width: 100%;
} */

.section-text-main {
    font-size: 1.2rem;
    padding: 0 1em 0 0;
}

.section-title {
    margin: .7em 0 .7em 0;
    font-size: 2rem;
}

.section-img-main {
    margin: 0 0 2em 0;
}

.divider {
    margin: 2em 0;
}

/* BUTTONS */

.btn {
    color: #fff;
    background: var(--primary-color);
    padding: .6em 1.3em;
    border-radius: .3rem;
    transition: .2s;
    font-size: 1.3rem;
}

.btn:hover,
.btn:focus {
    background: var(--accent-color);
    padding: 1em 1.35em;
    color: #fff;
}

.btn-main {
    margin: 1.8em auto;
    display: block;
    text-align: center;
}


.card-hover {
    color: rgb(72, 72, 72);
}

.card-hover:hover {
    color: var(--primary-color);
}

/* CARD */

.info {
    margin: .8em 0;
}

.header-text {
    height: 3rem;
}

.read-more {
    border-bottom: 1px solid var(--accent-color);
    font-size: 1rem;
    display: inline-block;
    margin: 1.5em 0 0 0;
}

.big {
    width: 100%;
    margin: 0 0 3em 0;
}

.card-description {
    margin: 1.5em 0 .8em 0;
    font-size: 1rem;
}

.card-image {
    border-radius: .5em;
    width: 100%;
}

/* CARD SMALL */
.card-small {
    width: 48%;
    margin: 0 0 2em 0;
}

.card-body-small {
    height: 5rem;
}



/* LAYOUT */

.container {
    width: 95%;
    /* max-width: 35.3125rem; */
    margin: 1em auto;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media(min-width:768px){
    .section-text-main{
        font-size: 1.3rem;
    }

    .big {
        max-width: 48%;
    }

    .flex{
        flex-direction: row;
    }

    .card-small {
        width: 23%;
    }
}

@media(min-width: 1050px) {
    .container {
        /* width: 90%; */
        max-width: 71.5rem;
    }

    .section-text-main {
        font-size: 1.3rem;
    }

    .btn-main {
        display: inline-block;
    }

    .see-all {
        width: 30%;
    }

    .flex {
        flex-direction: row;
    }

    .card-image {
        width: 100%;
        height: 100%;
    }

    .card-small {
        width: 23%;
    }

}